node_modules
**/node_modules
dist
**/dist
.build
**/.build
web/dist
web/node_modules
.git
.context
**/.context
**/*DerivedData*
**/Pods
**/ios/build
.github
cypress
coverage
reports
.nyc_output
.stryker-tmp
.venv
.venv-analytics
analytics/target
analytics/logs
analytics/dbt_packages
storybook-static
**/storybook-static
*.md
