terraform.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.env
deploy-config/.terraform/
deploy-config/.terraform.lock.hcl
deploy-config/*.tfstate
deploy-config/*.tfstate.backup
dns/.terraform/
dns/.terraform.lock.hcl
dns/*.tfstate
dns/*.tfstate.backup
dns/terraform.tfvars
