{$domain}, dofek.fit, www.dofek.fit, dofek.live, www.dofek.live {
    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }

    reverse_proxy web:3000
}

ota.dofek.asherlc.com {
    reverse_proxy ota:3000
}

portainer.dofek.asherlc.com {
    reverse_proxy https://portainer:9443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
