openapi: 3.1.0
info:
  title: WHOOP Internal API
  description: |
    Unofficial documentation of WHOOP's internal production API (api.prod.whoop.com).
    This is NOT the public developer API (developer.whoop.com) — it's the same API
    used by the WHOOP mobile and web apps.

    **Authentication**: Cognito-based. See the auth endpoints below.

    **Common parameters**: Most endpoints accept `apiVersion=7` as a query parameter.

    **User-Agent**: The mobile app sends `WHOOP/4.0`.

    **Last updated**: March 2026.
  version: "7"

servers:
  - url: https://api.prod.whoop.com
    description: WHOOP production API

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Cognito access token obtained via InitiateAuth

  parameters:
    apiVersion:
      name: apiVersion
      in: query
      schema:
        type: string
        default: "7"
    userId:
      name: id
      in: query
      required: true
      schema:
        type: integer
      description: WHOOP user ID

  schemas:
    # ── Auth ──────────────────────────────────────────────
    CognitoInitiateAuthRequest:
      type: object
      required: [AuthFlow, ClientId, AuthParameters]
      properties:
        AuthFlow:
          type: string
          enum: [USER_PASSWORD_AUTH, REFRESH_TOKEN_AUTH]
        ClientId:
          type: string
          example: "37365lrcda1js3fapqfe2n40eh"
        AuthParameters:
          type: object
          properties:
            USERNAME:
              type: string
            PASSWORD:
              type: string
            REFRESH_TOKEN:
              type: string

    CognitoAuthResult:
      type: object
      properties:
        AuthenticationResult:
          type: object
          properties:
            AccessToken:
              type: string
            RefreshToken:
              type: string
              description: Only returned on initial auth, not on refresh
            IdToken:
              type: string
            ExpiresIn:
              type: integer
            TokenType:
              type: string
              example: Bearer
        ChallengeName:
          type: string
          enum: [SMS_MFA, SOFTWARE_TOKEN_MFA]
          description: Present when MFA is required
        Session:
          type: string
          description: Challenge session token for MFA verification

    CognitoVerifyRequest:
      type: object
      required: [ChallengeName, ClientId, Session, ChallengeResponses]
      properties:
        ChallengeName:
          type: string
          enum: [SMS_MFA, SOFTWARE_TOKEN_MFA]
        ClientId:
          type: string
        Session:
          type: string
        ChallengeResponses:
          type: object
          properties:
            USERNAME:
              type: string
            SMS_MFA_CODE:
              type: string
            SOFTWARE_TOKEN_MFA_CODE:
              type: string

    # ── Bootstrap ─────────────────────────────────────────
    BootstrapResponse:
      type: object
      properties:
        user:
          type: object
          properties:
            id:
              type: integer
              example: 35557944
            user_id:
              type: integer

    # ── Cycles ────────────────────────────────────────────
    Cycle:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        days:
          type: array
          items:
            type: string
            format: date
            example: "2026-03-12"
        recovery:
          $ref: "#/components/schemas/RecoveryRecord"
        sleep:
          type: object
          properties:
            id:
              type: integer
              description: Sleep ID — use to fetch full sleep detail
        strain:
          type: object
          properties:
            workouts:
              type: array
              items:
                $ref: "#/components/schemas/WorkoutRecord"

    # ── Recovery ──────────────────────────────────────────
    RecoveryRecord:
      type: object
      properties:
        cycle_id:
          type: integer
        sleep_id:
          type: integer
        user_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        score_state:
          type: string
          enum: [SCORED, PENDING_SCORE, UNSCORABLE]
        score:
          $ref: "#/components/schemas/RecoveryScore"

    RecoveryScore:
      type: object
      properties:
        user_calibrating:
          type: boolean
        recovery_score:
          type: number
          description: 0-100 percentage
        resting_heart_rate:
          type: number
          description: BPM
        hrv_rmssd_milli:
          type: number
          description: HRV in milliseconds (RMSSD)
        spo2_percentage:
          type: number
          description: Blood oxygen percentage
        skin_temp_celsius:
          type: number
          description: Skin temperature in Celsius

    # ── Sleep ─────────────────────────────────────────────
    SleepRecord:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        timezone_offset:
          type: string
          example: "-05:00"
        nap:
          type: boolean
        score_state:
          type: string
          enum: [SCORED, PENDING_SCORE, UNSCORABLE]
        score:
          $ref: "#/components/schemas/SleepScore"

    SleepScore:
      type: object
      properties:
        stage_summary:
          $ref: "#/components/schemas/SleepStageSummary"
        sleep_needed:
          $ref: "#/components/schemas/SleepNeeded"
        respiratory_rate:
          type: number
          description: Breaths per minute
        sleep_performance_percentage:
          type: number
        sleep_consistency_percentage:
          type: number
        sleep_efficiency_percentage:
          type: number

    SleepStageSummary:
      type: object
      properties:
        total_in_bed_time_milli:
          type: integer
        total_awake_time_milli:
          type: integer
        total_no_data_time_milli:
          type: integer
        total_light_sleep_time_milli:
          type: integer
        total_slow_wave_sleep_time_milli:
          type: integer
          description: Deep sleep
        total_rem_sleep_time_milli:
          type: integer
        sleep_cycle_count:
          type: integer
        disturbance_count:
          type: integer

    SleepNeeded:
      type: object
      properties:
        baseline_milli:
          type: integer
        need_from_sleep_debt_milli:
          type: integer
        need_from_recent_strain_milli:
          type: integer
        need_from_recent_nap_milli:
          type: integer

    # ── Workouts ──────────────────────────────────────────
    WorkoutRecord:
      type: object
      description: |
        Workout summary as returned in the cycles BFF response.
        Contains aggregate metrics only — no exercise-level data.
      properties:
        id:
          type: integer
        user_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        timezone_offset:
          type: string
        sport_id:
          type: integer
          description: See Sport schema for mapping. 123 = Strength Trainer.
        activity_id:
          type: integer
          description: Internal activity ID
        activity_version:
          type: integer
        source:
          type: string
        score_state:
          type: string
          enum: [SCORED, PENDING_SCORE, UNSCORABLE]
        score:
          $ref: "#/components/schemas/WorkoutScore"
        msk_score:
          $ref: "#/components/schemas/MskScore"
        raw_intensity_score:
          type: number

    WorkoutScore:
      type: object
      properties:
        strain:
          type: number
          description: WHOOP strain score (0-21 scale)
        average_heart_rate:
          type: integer
          description: BPM
        max_heart_rate:
          type: integer
          description: BPM
        kilojoule:
          type: number
          description: Energy expenditure. Divide by 4.184 for calories.
        percent_recorded:
          type: number
          description: 0-1 recording quality
        distance_meter:
          type: number
          nullable: true
        altitude_gain_meter:
          type: number
          nullable: true
        altitude_change_meter:
          type: number
          nullable: true
        zone_duration:
          $ref: "#/components/schemas/ZoneDuration"

    ZoneDuration:
      type: object
      description: Time spent in each heart rate zone (milliseconds)
      properties:
        zone_zero_milli:
          type: integer
          description: Below zone 1
        zone_one_milli:
          type: integer
        zone_two_milli:
          type: integer
        zone_three_milli:
          type: integer
        zone_four_milli:
          type: integer
        zone_five_milli:
          type: integer
          description: Max effort

    MskScore:
      type: object
      description: |
        Musculoskeletal (muscular load) score. Only present for workouts
        with muscular activity (e.g., Strength Trainer, functional fitness).
      properties:
        raw_cardio_intensity_score:
          type: number
          example: 0.0000095
        scaled_cardio_intensity_score:
          type: number
          example: 1.549
        raw_msk_intensity_score:
          type: number
          example: 0.0288
        scaled_msk_intensity_score:
          type: number
          example: 2.855
        cardio_strain_contribution_percent:
          type: number
          example: 0.329
          description: Fraction of total strain from cardio vs muscular

    # ── Heart Rate ────────────────────────────────────────
    HeartRateValue:
      type: object
      properties:
        time:
          type: integer
          description: Unix timestamp in milliseconds
        data:
          type: integer
          description: Heart rate in BPM

    HeartRateResponse:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: "#/components/schemas/HeartRateValue"

    # ── Sports ────────────────────────────────────────────
    Sport:
      type: object
      properties:
        id:
          type: integer
          example: 123
        name:
          type: string
          example: Strength Trainer
        category:
          type: string
          example: muscular
        activity_type_internal_name:
          type: string
          example: weightlifting_msk
        icon_url:
          type: string
          format: uri
        has_gps:
          type: boolean
        has_survey:
          type: boolean

    # ── Developer API Workout ─────────────────────────────
    DeveloperWorkoutRecord:
      type: object
      description: Workout as returned by the developer API endpoints
      properties:
        id:
          type: string
          format: uuid
          example: "546e0dd6-88e1-4eb2-9cd0-73aa8b729bd3"
        v1_id:
          type: integer
          nullable: true
        user_id:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        timezone_offset:
          type: string
          example: "-07:00"
        sport_name:
          type: string
          example: functional-fitness
        score_state:
          type: string
          enum: [SCORED, PENDING_SCORE, UNSCORABLE]
        score:
          type: object
          properties:
            strain:
              type: number
            average_heart_rate:
              type: integer
            max_heart_rate:
              type: integer
            kilojoule:
              type: number
            percent_recorded:
              type: number
            distance_meter:
              type: number
              nullable: true
            zone_durations:
              $ref: "#/components/schemas/ZoneDuration"
        sport_id:
          type: integer

    DeveloperWorkoutListResponse:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: "#/components/schemas/DeveloperWorkoutRecord"
        next_token:
          type: string
          nullable: true

    # ── Performance Assessment ────────────────────────────
    PerformanceAssessmentResponse:
      type: object
      properties:
        total_count:
          type: integer
        offset:
          type: integer
        records:
          type: array
          items:
            type: object

    # ── Weightlifting Service (discovered via APK decompilation) ──
    # Source: com.whoop.weightlifting.data.WeightliftingApi (Retrofit interface)
    # DTOs: com.whoop.weightlifting.data.dto.*

    # -- Response from GET /weightlifting-service/v2/weightlifting-workout/{activityId}
    # Note: this endpoint is NOT in the Retrofit interface (WeightliftingApi) —
    # it may be called from a different module. The response is a superset of
    # WeightliftingWorkoutDto with additional read-only fields.
    WeightliftingWorkoutResponse:
      type: object
      description: |
        Full exercise-level data for a strength workout. Returned by
        GET /weightlifting-service/v2/weightlifting-workout/{activityId}.
        Superset of WeightliftingWorkoutDto with additional read-only fields.
      properties:
        user_id:
          type: integer
          example: 35557944
        activity_id:
          type: string
          format: uuid
        weightlifting_workout_id:
          type: string
          format: uuid
        workout_template_id:
          type: integer
          nullable: true
        name:
          type: string
          nullable: true
          example: "Mar 12, 2026"
        during:
          type: string
          description: "PostgreSQL-style time range for the workout: ['start','end')"
          example: "['2026-03-12T21:37:00.000Z','2026-03-12T21:56:00.000Z')"
        pushcore_version:
          type: string
          nullable: true
          example: whoop_3.13.1
        total_effective_volume_kg:
          type: number
          description: Total effective training volume in kg
          example: 2047.008
        raw_msk_strain_score:
          type: number
          example: 0.0288
        msk_intensity_percent:
          type: number
          example: 0.3
        scaled_msk_strain_score:
          type: number
          example: 2.85552
        cardio_strain_score:
          type: number
          example: 1.549
        raw_cardio_intensity_score:
          type: number
          example: 0.000009565
        max_heart_rate:
          type: integer
          example: 105
        average_heart_rate:
          type: integer
          example: 83
        kilojoules:
          type: number
          example: 104.789
        total_strain_score:
          type: number
          example: 3.634
        raw_total_strain_score:
          type: number
          example: 0.000029085
        cardio_strain_contribution_percent:
          type: number
          example: 0.329
        msk_strain_contribution_percent:
          type: number
          example: 0.671
        total_active_time_seconds:
          type: number
        total_rest_time_seconds:
          type: number
        zone_durations:
          $ref: "#/components/schemas/WeightliftingZoneDurations"
        workout_groups:
          type: array
          items:
            $ref: "#/components/schemas/WeightliftingWorkoutGroup"

    # -- Request body for POST /weightlifting-service/v2/weightlifting-workout/activity
    # Source: WeightliftingWorkoutDto.java (Kotlin data class)
    WeightliftingWorkoutDto:
      type: object
      description: |
        Request body for creating/saving a weightlifting workout.
        From decompiled WeightliftingWorkoutDto Kotlin data class.
      required: [during, timezone]
      properties:
        source:
          type: string
          default: "user"
          description: Source of workout data
        during:
          type: string
          description: "PostgreSQL-style time range: ['start','end')"
        timezone:
          type: string
          description: IANA timezone string
          example: "America/New_York"
        name:
          type: string
          nullable: true
        msk_total_volume_kg:
          type: number
          nullable: true
        raw_msk_strain_score:
          type: number
        msk_intensity_percent:
          type: number
        scaled_msk_strain_score:
          type: number
        pushcore_version:
          type: string
          nullable: true
        workout_template_id:
          type: integer
          format: int64
          nullable: true
        rpe:
          type: integer
          nullable: true
          description: Rate of Perceived Exertion
        workout_groups:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/WeightliftingWorkoutGroupDto"
        type:
          type: string
          default: "weightlifting_workout"
          description: Activity type constant

    WeightliftingZoneDurations:
      type: object
      description: Time spent in each intensity zone (seconds)
      properties:
        zone90_to100_duration:
          type: number
        zone80_to90_duration:
          type: number
        zone70_to80_duration:
          type: number
        zone60_to70_duration:
          type: number
        zone50_to60_duration:
          type: number
        zone0_to50_duration:
          type: number

    WeightliftingWorkoutGroup:
      type: object
      description: Group of exercises in a workout (read response)
      properties:
        workout_exercises:
          type: array
          items:
            $ref: "#/components/schemas/WeightliftingWorkoutExercise"

    WeightliftingWorkoutGroupDto:
      type: object
      description: Group of exercises in a workout (write request)
      properties:
        workout_exercises:
          type: array
          items:
            $ref: "#/components/schemas/WeightliftingWorkoutExerciseDto"

    WeightliftingWorkoutExercise:
      type: object
      description: Exercise with sets in a workout (read response)
      properties:
        exercise_details:
          $ref: "#/components/schemas/WeightliftingExerciseDto"
        sets:
          type: array
          items:
            $ref: "#/components/schemas/WeightliftingSet"

    WeightliftingWorkoutExerciseDto:
      type: object
      description: Exercise with sets in a workout (write request)
      properties:
        exercise_details:
          $ref: "#/components/schemas/WeightliftingExerciseDto"
        sets:
          type: array
          items:
            $ref: "#/components/schemas/WeightliftingSetDto"

    # -- WeightliftingExerciseDto (exercise catalog entry)
    # Source: WeightliftingExerciseDto.java
    WeightliftingExerciseDto:
      type: object
      description: |
        Full exercise definition from the WHOOP exercise catalog.
        From decompiled WeightliftingExerciseDto Kotlin data class.
      properties:
        exercise_id:
          type: string
          example: FRONTPLANKELBOW
          description: Unique identifier (uppercase snake_case)
        name:
          type: string
          example: Front Plank
        push_core_name:
          type: string
          description: Internal PushCore identifier (matches exercise_id)
        equipment:
          type: string
          description: Equipment enum value
          enum: [BODY, BARBELL, DUMBBELL, CABLE, MACHINE, KETTLEBELL, BAND, PLATE, SMITH_MACHINE, OTHER]
        translated_equipment:
          type: string
          description: Human-readable equipment name
          example: Bodyweight
        exercise_type:
          type: string
          example: STRENGTH
        laterality:
          type: string
          description: Exercise laterality
          enum: [BILATERAL, UNILATERAL, LEFT, RIGHT]
        movement_pattern:
          type: string
          description: Movement pattern classification
          enum: [PUSH, PULL, SQUAT, HINGE, LUNGE, CARRY, OTHER]
        translated_movement_pattern:
          type: string
          example: Other
        muscle_groups:
          type: array
          items:
            type: string
          example: ["CORE"]
          description: "Target muscle groups: CORE, CHEST, BACK, SHOULDERS, BICEPS, TRICEPS, LEGS, etc."
        translated_muscle_groups:
          type: string
          description: Human-readable muscle group name
          example: Core
        training_types:
          type: array
          items:
            type: string
          description: Training type tags (often empty)
        instructions:
          type: array
          items:
            type: string
          description: Step-by-step exercise instructions
        volume_input_format:
          type: string
          description: How volume is tracked for this exercise
          enum: [WEIGHT, TIME, REPS, DISTANCE]
        volume_input_value:
          type: string
          nullable: true
          description: Default volume value (e.g., "0:45" for timed exercises)
        volume_input_units:
          type: string
          nullable: true
          description: Units for volume_input_value (e.g., "min")
        trackable:
          type: boolean
          description: Whether the exercise supports PushCore strap tracking
        custom_exercise:
          type: boolean
          description: Whether this is a user-created custom exercise
        custom_exercise_info:
          $ref: "#/components/schemas/CustomExerciseInfo"
        deleted:
          type: boolean
        image_url:
          type: string
          format: uri
          nullable: true
          example: "https://dh6o7n168ts9.cloudfront.net/exercises/FRONTPLANKELBOW.jpg"
        video_url:
          type: string
          format: uri
          nullable: true
          example: "https://dh6o7n168ts9.cloudfront.net/exercise-videos-temp/FRONTPLANKELBOW.mp4"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CustomExerciseInfo:
      type: object
      nullable: true
      description: Present only for user-created custom exercises
      properties:
        user_id:
          type: integer
        original_exercise_id:
          type: string
          nullable: true

    # -- WeightliftingSet (read response) — includes server-computed fields
    WeightliftingSet:
      type: object
      description: A single set in a workout (read response, includes server-computed fields)
      properties:
        weightlifting_workout_set_id:
          type: string
          format: uuid
        weight_kg:
          type: number
          description: Weight used in kg (0 for bodyweight exercises)
        number_of_reps:
          type: integer
          nullable: true
          description: Number of reps (0 or null for time-based exercises)
        time_in_seconds:
          type: integer
          nullable: true
          description: Duration of set in seconds
        msk_total_volume_kg:
          type: number
          nullable: true
          description: Computed MSK volume for this set in kg
          example: 255.876
        during:
          type: string
          nullable: true
          description: "PostgreSQL-style time range: ['start','end')"
          example: "['2026-03-12T21:37:00.000Z','2026-03-12T21:37:00.001Z')"
        complete:
          type: boolean
        is_exercise_trackable:
          type: boolean
        strap_location:
          type: string
          nullable: true
          description: PushCore strap body location
        strap_location_laterality:
          type: string
          nullable: true
          description: Left/right for strap placement
        protobuf_file_path:
          type: string
          nullable: true
          description: S3 path to raw PushCore protobuf data

    # -- WeightliftingSetDto (write request) — from decompiled WeightliftingWorkoutSetDto
    WeightliftingSetDto:
      type: object
      description: |
        A single set in a workout (write request).
        From decompiled WeightliftingWorkoutSetDto Kotlin data class.
        Note: uses "weight" (not "weight_kg") in the request DTO.
      properties:
        number_of_reps:
          type: integer
          nullable: true
        time_in_seconds:
          type: integer
          nullable: true
        weight:
          type: number
          nullable: true
          description: Weight in kg (field name is "weight" in write DTO, "weight_kg" in read response)
        weightlifting_workout_set_id:
          type: string
          format: uuid
          nullable: true
        is_exercise_trackable:
          type: boolean
        during:
          type: string
          nullable: true
        strap_location:
          type: string
          nullable: true
        strap_location_laterality:
          type: string
          nullable: true
        protobuf_file_path:
          type: string
          nullable: true
        msk_total_volume_kg:
          type: number
          nullable: true

    ExerciseCatalogV2Response:
      type: object
      properties:
        exercises:
          type: array
          items:
            $ref: "#/components/schemas/WeightliftingExerciseDto"

    # -- WorkoutTemplateDto — from decompiled WorkoutTemplateDto
    WorkoutTemplateDto:
      type: object
      description: |
        Workout template with planned exercises and sets.
        Used for both request (POST/PUT) and response (GET).
      properties:
        workout_template_key:
          type: integer
          format: int64
          description: Template ID (called "key" in the DTO)
        parent_template_key:
          type: integer
          format: int64
          nullable: true
          description: Parent template ID if this is a copy
        name:
          type: string
          example: "Mar 12, 2026"
        workout_groups:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutTemplateGroupDto"

    WorkoutTemplateGroupDto:
      type: object
      properties:
        workout_exercises:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutTemplateExerciseDto"

    WorkoutTemplateExerciseDto:
      type: object
      properties:
        exercise_details:
          $ref: "#/components/schemas/WeightliftingExerciseDto"
        sets:
          type: array
          items:
            $ref: "#/components/schemas/WorkoutTemplateSetDto"

    WorkoutTemplateSetDto:
      type: object
      properties:
        number_of_reps:
          type: integer
        weight:
          type: number
          description: Weight in kg
        time_in_seconds:
          type: integer

    # -- LinkWorkoutRequest/Response
    LinkWorkoutRequest:
      type: object
      description: Request body for linking a cardio workout to a weightlifting workout

    LinkWorkoutResponse:
      type: object
      description: Response from linking a workout

    # -- CustomExerciseDto
    CustomExerciseDto:
      type: object
      description: Request body for creating/updating a custom exercise

    # -- PerformanceProfileDto
    PerformanceProfileDto:
      type: object
      description: Performance profile data for an exercise

    PerformanceProfileForWorkoutTemplateDto:
      type: object
      description: Performance profiles for all exercises in a workout template

    # -- ShareableWorkoutLinkResponse
    ShareableWorkoutLinkResponse:
      type: object
      description: Response containing a shareable workout link

    SharedWorkoutResponse:
      type: object
      description: Response with shared workout data

    # -- UploadedProtobufInfo
    UploadedProtobufInfo:
      type: object
      description: Response from uploading raw PushCore protobuf data

    # -- WorkoutLibraryModel
    WorkoutLibraryModel:
      type: object
      description: Workout library with pre-built and user workout templates
      properties:
        workout_library_title:
          type: string
          example: "STRENGTH TRAINER"
        whoop_workouts_title:
          type: string
        my_workouts_title:
          type: string
        my_workouts_ctatext:
          type: string
          nullable: true
        whoop_workouts_list:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              image_url:
                type: string
                format: uri
              paragraph:
                type: string
                description: Duration text (e.g., "60 min")
              tag:
                type: string
                enum: [BEGINNER, INTERMEDIATE, ADVANCED]

    # -- LinkWorkoutModel (response from GET /v1/link-workout)
    LinkWorkoutModel:
      type: object
      description: UI configuration for the link-workout screen
      properties:
        title:
          type: string
        content:
          type: object
          properties:
            headline:
              type: string
            subtext:
              type: string
            templates:
              type: array
              items:
                type: object
                properties:
                  template_id:
                    type: integer
                  name:
                    type: string

    # -- WorkoutDetailsModel (response from GET prebuilt-workout-template)
    WorkoutDetailsModel:
      type: object
      description: Detailed view of a pre-built workout template

    # -- Enums from decompiled source
    # ExerciseEquipment: BODY, BARBELL, DUMBBELL, CABLE, MACHINE, KETTLEBELL, BAND, PLATE, SMITH_MACHINE, OTHER
    # ExerciseLaterality: BILATERAL, UNILATERAL, LEFT, RIGHT
    # VolumeInputFormat: WEIGHT, TIME, REPS, DISTANCE
    # StrapLocation: various body positions for PushCore strap
    # StrapLaterality: LEFT, RIGHT

    # ── Journal / Behavior Impact ─────────────────────────
    JournalImpactResponse:
      type: object
      description: |
        Response shape is not fully documented — varies and is handled
        heuristically. May be an array or wrapped object.
      properties:
        impacts:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              answers:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: caffeine
                    value:
                      oneOf:
                        - type: number
                        - type: string
                    impact:
                      type: number
                      nullable: true

security:
  - bearerAuth: []

paths:
  # ── Authentication ────────────────────────────────────
  /auth-service/v3/whoop/:
    post:
      operationId: cognitoAuth
      summary: Cognito authentication proxy
      description: |
        Proxies AWS Cognito Identity Provider actions. The action is specified
        via the `X-Amz-Target` header. Supports InitiateAuth (login + refresh)
        and RespondToAuthChallenge (MFA verification).

        **Client ID**: `37365lrcda1js3fapqfe2n40eh`
      tags: [Authentication]
      security: []
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSCognitoIdentityProviderService.InitiateAuth
              - AWSCognitoIdentityProviderService.RespondToAuthChallenge
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            example: application/x-amz-json-1.1
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              oneOf:
                - $ref: "#/components/schemas/CognitoInitiateAuthRequest"
                - $ref: "#/components/schemas/CognitoVerifyRequest"
      responses:
        "200":
          description: Auth result or MFA challenge
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CognitoAuthResult"

  # ── Bootstrap ─────────────────────────────────────────
  /users-service/v2/bootstrap/:
    get:
      operationId: getBootstrap
      summary: Get user bootstrap data (including user ID)
      tags: [User]
      parameters:
        - name: accountType
          in: query
          schema:
            type: string
            default: users
        - $ref: "#/components/parameters/apiVersion"
        - name: include
          in: query
          schema:
            type: string
            example: profile
      responses:
        "200":
          description: Bootstrap data with user info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BootstrapResponse"

  # ── Cycles (main data source) ─────────────────────────
  /core-details-bff/v0/cycles/details:
    get:
      operationId: getCycleDetails
      summary: Get cycles with embedded recovery, sleep IDs, and workout summaries
      description: |
        Primary data endpoint. Returns daily cycles with nested recovery scores
        and workout summaries. Maximum window of 200 days per request.
      tags: [Cycles]
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/apiVersion"
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: Must be within 200 days of startTime
        - name: limit
          in: query
          schema:
            type: integer
            default: 26
      responses:
        "200":
          description: Array of cycles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Cycle"

  # ── Sleep ─────────────────────────────────────────────
  /sleep-service/v1/sleep-events:
    get:
      operationId: getSleepEvent
      summary: Get detailed sleep data for a specific sleep session
      tags: [Sleep]
      parameters:
        - name: activityId
          in: query
          required: true
          schema:
            type: integer
          description: Sleep ID from the cycle response
        - $ref: "#/components/parameters/apiVersion"
      responses:
        "200":
          description: Sleep record with stage breakdown
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SleepRecord"

  # ── Heart Rate ────────────────────────────────────────
  /metrics-service/v1/metrics/user/{userId}:
    get:
      operationId: getHeartRate
      summary: Get heart rate time-series data
      tags: [Metrics]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/apiVersion"
        - name: name
          in: query
          required: true
          schema:
            type: string
            enum: [heart_rate]
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: step
          in: query
          schema:
            type: integer
            default: 6
            description: Interval in seconds between data points
        - name: order
          in: query
          schema:
            type: string
            enum: [t]
            description: Order by time
      responses:
        "200":
          description: Heart rate values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeartRateResponse"

  # ── Journal / Behavior Impact ─────────────────────────
  /behavior-impact-service/v1/impact:
    get:
      operationId: getJournalImpact
      summary: Get journal entries with behavior impact scores
      description: |
        Returns journal/behavior entries (caffeine, alcohol, melatonin, etc.)
        with optional impact scores. Response shape varies — may be array or
        wrapped object. Handle defensively.
      tags: [Journal]
      parameters:
        - name: startTime
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - $ref: "#/components/parameters/apiVersion"
      responses:
        "200":
          description: Journal impact data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JournalImpactResponse"

  # ── Sport Catalog ─────────────────────────────────────
  /activities-service/v1/sports/history:
    get:
      operationId: getSportCatalog
      summary: Get full sport type catalog (200+ types)
      tags: [Activities]
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/apiVersion"
      responses:
        "200":
          description: Array of sport definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Sport"

  # ── Performance Assessment ────────────────────────────
  /activities-service/v1/performance-assessment/{period}:
    get:
      operationId: getPerformanceAssessment
      summary: Get performance assessment records
      tags: [Activities]
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
            enum: [WEEK, MONTH]
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/apiVersion"
      responses:
        "200":
          description: Performance assessment records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceAssessmentResponse"

  # ── Developer API ─────────────────────────────────────
  /developer/v2/activity/workout:
    get:
      operationId: listDeveloperWorkouts
      summary: List workouts (developer API format)
      description: |
        Returns workouts in the developer API format with UUID IDs and
        sport_name strings. Paginated via next_token.
      tags: [Developer API]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: next_token
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated workout list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeveloperWorkoutListResponse"

  /developer/v2/activity/workout/{workoutId}:
    get:
      operationId: getDeveloperWorkout
      summary: Get a single workout by ID (developer API format)
      tags: [Developer API]
      parameters:
        - name: workoutId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Single workout record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeveloperWorkoutRecord"

  /developer/v2/cycle:
    get:
      operationId: listDeveloperCycles
      summary: List daily cycles (developer API format)
      tags: [Developer API]
      responses:
        "200":
          description: Cycles list

  /developer/v2/recovery:
    get:
      operationId: listDeveloperRecovery
      summary: List recovery scores (developer API format)
      tags: [Developer API]
      responses:
        "200":
          description: Recovery list

  /developer/v2/activity/sleep:
    get:
      operationId: listDeveloperSleep
      summary: List sleep sessions (developer API format)
      tags: [Developer API]
      responses:
        "200":
          description: Sleep list

  /developer/v1/user/profile/basic:
    get:
      operationId: getDeveloperUserProfile
      summary: Get user profile
      tags: [Developer API]
      responses:
        "200":
          description: User profile

  /developer/v2/user/measurement/body:
    get:
      operationId: getDeveloperBodyMeasurement
      summary: Get body measurements
      tags: [Developer API]
      responses:
        "200":
          description: Body measurements

  # ── Weightlifting Service (discovered via APK decompilation) ──

  # ── Weightlifting Service (from decompiled WeightliftingApi Retrofit interface) ──
  # Retrofit annotations mapped: @GET→get, @POST→post, @PUT→put, @DELETE→delete
  # @Path→path param, @Query→query param, @Body→requestBody

  /weightlifting-service/v2/weightlifting-workout/{activityId}:
    get:
      operationId: getWeightliftingWorkout
      summary: Get full exercise-level data for a strength workout
      description: |
        Returns the complete exercise breakdown for a Strength Trainer workout,
        including exercises, sets, reps, weight, and MSK strain metrics.
        The activityId is the UUID activity ID from the cycles BFF workout response.

        Note: This endpoint is NOT in the decompiled WeightliftingApi Retrofit
        interface — it may be called from a different module (e.g., core-details-bff).
        Confirmed working via live probing.
      tags: [Weightlifting]
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Activity ID (UUID) from the workout record
      responses:
        "200":
          description: Full weightlifting workout with exercise-level data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeightliftingWorkoutResponse"
        "404":
          description: No weightlifting data linked to this activity

  # @GET("weightlifting-service/v1/exercise")
  # Object getExerciseList(Continuation<List<WeightliftingExerciseDto>>)
  /weightlifting-service/v1/exercise:
    get:
      operationId: getExerciseCatalogV1
      summary: Get full exercise catalog (v1, flat array)
      description: |
        Returns the complete WHOOP exercise catalog (~500+ exercises) as a flat
        JSON array. Response is large (~320K chars).
      tags: [Weightlifting]
      responses:
        "200":
          description: Array of exercise definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WeightliftingExerciseDto"

  # @GET("weightlifting-service/v2/exercise")
  # Object getExerciseListV2(Continuation<ExerciseData>)
  /weightlifting-service/v2/exercise:
    get:
      operationId: getExerciseCatalogV2
      summary: Get full exercise catalog (v2, wrapped)
      description: Same catalog as v1 but wrapped in {"exercises": [...]}.
      tags: [Weightlifting]
      responses:
        "200":
          description: Exercise catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExerciseCatalogV2Response"

  # @GET("weightlifting-service/v1/exercise/{exerciseId}")
  # Object getExerciseDetailsById(@Path exerciseId, Continuation<WeightliftingExerciseDto>)
  /weightlifting-service/v1/exercise/{exerciseId}:
    get:
      operationId: getExerciseDetailsById
      summary: Get a single exercise by ID
      tags: [Weightlifting]
      parameters:
        - name: exerciseId
          in: path
          required: true
          schema:
            type: string
          description: Exercise ID (e.g., "BENCHPRESSBARBELL")
      responses:
        "200":
          description: Exercise details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeightliftingExerciseDto"

  # @GET("weightlifting-service/v1/link-workout")
  # Object getLinkWorkoutBFFData(@Query activityId, Continuation<LinkWorkoutModel>)
  /weightlifting-service/v1/link-workout:
    get:
      operationId: getLinkWorkoutBFFData
      summary: Get link-workout UI data
      description: Returns UI config for linking workouts (templates, AI chat integration).
      tags: [Weightlifting]
      parameters:
        - name: activityId
          in: query
          schema:
            type: string
          description: Activity ID to link (optional)
      responses:
        "200":
          description: Link workout BFF data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkWorkoutModel"

  # @GET("weightlifting-service/v2/workout-template/{workoutTemplateKey}")
  # Object getWorkoutTemplate(@Path workoutTemplateKey, Continuation<WorkoutTemplateDto>)
  /weightlifting-service/v2/workout-template/{workoutTemplateKey}:
    get:
      operationId: getWorkoutTemplate
      summary: Get a workout template by key
      description: Returns a workout template with planned exercises and sets.
      tags: [Weightlifting]
      parameters:
        - name: workoutTemplateKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Workout template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkoutTemplateDto"
    # @PUT("weightlifting-service/v2/workout-template/{workoutTemplateKey}")
    # Object updateWorkoutTemplate(@Path key, @Body WorkoutTemplateDto, Continuation<void>)
    put:
      operationId: updateWorkoutTemplate
      summary: Update a workout template
      tags: [Weightlifting]
      parameters:
        - name: workoutTemplateKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkoutTemplateDto"
      responses:
        "200":
          description: Template updated
    # @DELETE("weightlifting-service/v2/workout-template/{workoutTemplateId}")
    # Object deleteWorkoutTemplate(@Path workoutTemplateId, Continuation<void>)
    delete:
      operationId: deleteWorkoutTemplate
      summary: Delete a workout template
      tags: [Weightlifting]
      parameters:
        - name: workoutTemplateKey
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Template deleted

  # @GET("weightlifting-service/v2/workout-library")
  # Object getWorkoutLibrary(Continuation<WorkoutLibraryModel>)
  /weightlifting-service/v2/workout-library:
    get:
      operationId: getWorkoutLibraryV2
      summary: Get WHOOP pre-built workout templates (v2)
      tags: [Weightlifting]
      responses:
        "200":
          description: Workout library
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkoutLibraryModel"

  # @GET("weightlifting-service/v3/workout-library")
  # Object getWorkoutLibraryV3(Continuation<WorkoutLibraryModel>)
  /weightlifting-service/v3/workout-library:
    get:
      operationId: getWorkoutLibraryV3
      summary: Get WHOOP pre-built workout templates (v3)
      tags: [Weightlifting]
      responses:
        "200":
          description: Workout library
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkoutLibraryModel"

  /weightlifting-service/v3/prs:
    get:
      operationId: getPersonalRecords
      summary: Get personal records
      tags: [Weightlifting]
      responses:
        "200":
          description: Personal records

  # @GET("weightlifting-service/v2/prebuilt-workout-template/{workoutTemplateId}")
  # Object getWorkoutDetails(@Path workoutTemplateId, Continuation<WorkoutDetailsModel>)
  /weightlifting-service/v2/prebuilt-workout-template/{workoutTemplateId}:
    get:
      operationId: getPrebuiltWorkoutDetails
      summary: Get a pre-built workout template
      tags: [Weightlifting]
      parameters:
        - name: workoutTemplateId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pre-built template details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkoutDetailsModel"

  # @GET("weightlifting-service/v1/share/{sharedWorkoutId}")
  # Object getSharedWorkout(@Path sharedWorkoutId, Continuation<SharedWorkoutResponse>)
  /weightlifting-service/v1/share/{sharedWorkoutId}:
    get:
      operationId: getSharedWorkout
      summary: Get a shared workout by ID
      tags: [Weightlifting]
      parameters:
        - name: sharedWorkoutId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Shared workout data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedWorkoutResponse"

  # @POST("weightlifting-service/v1/share/{workoutTemplateId}")
  # Object createShareableWorkoutLink(@Path workoutTemplateId, Continuation<ShareableWorkoutLinkResponse>)
  /weightlifting-service/v1/share/{workoutTemplateId}:
    post:
      operationId: createShareableWorkoutLink
      summary: Create a shareable link for a workout template
      tags: [Weightlifting]
      parameters:
        - name: workoutTemplateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Shareable link
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareableWorkoutLinkResponse"

  # ── Weightlifting Service — Write Endpoints ──────────

  # @POST("weightlifting-service/v2/weightlifting-workout/activity")
  # Object saveWeightliftingWorkout(@Body WeightliftingWorkoutDto, Continuation<void>)
  /weightlifting-service/v2/weightlifting-workout/activity:
    post:
      operationId: saveWeightliftingWorkout
      summary: Save a weightlifting workout linked to an activity
      tags: [Weightlifting]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WeightliftingWorkoutDto"
      responses:
        "200":
          description: Workout saved

  # @POST("weightlifting-service/v2/custom-exercise")
  # Object upsertCustomExercise(@Body CustomExerciseDto, Continuation<WeightliftingExerciseDto>)
  /weightlifting-service/v2/custom-exercise:
    post:
      operationId: upsertCustomExercise
      summary: Create or update a custom exercise
      tags: [Weightlifting]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomExerciseDto"
      responses:
        "200":
          description: Created/updated exercise
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeightliftingExerciseDto"

  # @DELETE("weightlifting-service/v2/custom-exercise/{exerciseId}")
  # Object deleteCustomExercise(@Path exerciseId, Continuation<void>)
  /weightlifting-service/v2/custom-exercise/{exerciseId}:
    delete:
      operationId: deleteCustomExercise
      summary: Delete a custom exercise
      tags: [Weightlifting]
      parameters:
        - name: exerciseId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Exercise deleted

  # @POST("weightlifting-service/v3/workout-template")
  # Object upsertWorkoutTemplate(@Body WorkoutTemplateDto, Continuation<WorkoutTemplateDto>)
  /weightlifting-service/v3/workout-template:
    post:
      operationId: upsertWorkoutTemplate
      summary: Create or update a workout template
      tags: [Weightlifting]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkoutTemplateDto"
      responses:
        "200":
          description: Created/updated template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkoutTemplateDto"

  # @PUT("weightlifting-service/v2/performance-profile")
  # Object savePerformanceProfiles(@Body List<PerformanceProfileDto>, Continuation<void>)
  /weightlifting-service/v2/performance-profile:
    put:
      operationId: savePerformanceProfiles
      summary: Save performance profiles
      tags: [Weightlifting]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PerformanceProfileDto"
      responses:
        "200":
          description: Profiles saved

  # @POST("weightlifting-service/v2/performance-profile/template")
  # Object retrievePerformanceProfiles(@Body WorkoutTemplateDto, Continuation<PerformanceProfileForWorkoutTemplateDto>)
  /weightlifting-service/v2/performance-profile/template:
    post:
      operationId: retrievePerformanceProfiles
      summary: Retrieve performance profiles for a workout template
      description: |
        POST with a WorkoutTemplateDto body to get performance profiles
        for all exercises in the template. Despite being POST, this is a
        read operation (body is used as a complex query).
      tags: [Weightlifting]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkoutTemplateDto"
      responses:
        "200":
          description: Performance profiles for template
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceProfileForWorkoutTemplateDto"

  # @POST("weightlifting-service/v2/weightlifting-workout/link-cardio-workout")
  # Object linkWorkoutToActivity(@Body LinkWorkoutRequest, Continuation<LinkWorkoutResponse>)
  /weightlifting-service/v2/weightlifting-workout/link-cardio-workout:
    post:
      operationId: linkWorkoutToActivity
      summary: Link a cardio workout to a weightlifting workout
      tags: [Weightlifting]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkWorkoutRequest"
      responses:
        "200":
          description: Link result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkWorkoutResponse"

  # @POST("weightlifting-service/v1/raw-data/protobuf")
  # Object uploadWeightliftingProtobufFile(@Body multipart, @HeaderMap headers, @Query setStartTimeMS, Continuation<UploadedProtobufInfo>)
  /weightlifting-service/v1/raw-data/protobuf:
    post:
      operationId: uploadWeightliftingProtobufFile
      summary: Upload raw PushCore strap protobuf data
      description: |
        Uploads raw sensor data from the PushCore strap. Multipart body
        with custom headers and a setStartTimeMS query parameter.
      tags: [Weightlifting]
      parameters:
        - name: setStartTimeMS
          in: query
          required: true
          schema:
            type: integer
            format: int64
          description: Set start time in milliseconds
      responses:
        "200":
          description: Upload result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadedProtobufInfo"

  # ── Previously Undiscovered / CORS-blocked ───────────
  # The following endpoints were observed as CORS-blocked from the browser
  # (not 404), but returned 404 when called from Node.js. Now understood:
  # the actual service name is "weightlifting-service", not any of the
  # guessed names below.
  #
  # /developer/v2/activity/strength-trainer  (404 — wrong service name)
  # /developer/v2/activity/weightlifting     (404 — wrong service name)
  # /fitness-service/v1/*                    (404 — wrong service name)
  # /activities-service/v1/activities        (404 — wrong service name)
